# Ignoring unimplemented sections of the website
server.tvp.x10host.com/
wiki/
cgi-bin/

# Contains mysql passwords, and therefore cannot be shared
database_credentials.php

# Anything prefixed with an underscore is private for convenience
_*

# tmp is a deprecated folder that used to be used for encrypting emails
tmp/

# Garbage file resulting from the synchronization process
.ftpquota
